.container text-center{
  font: normal 15px "Helvetica Neue",sans-serif;
}

h3{
  margin-top: 150px;

  font-weight: 300;
  color: #444;
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
