<header>
  <div class="wrapper">
    <h1>FlavourShop<span class="color">.</span></h1>

    <h4 id="account" *ngIf="logedin"> Welcome {{user}}!</h4>
  </div>
</header>

<div id="flavour-image">
  <div class="wrapper">
    <h2><strong>Get some flavour</strong><br/>
      into your life.</h2>
    <a routerLink="/products" class="button-1">Products</a>
  </div>
</div>

<div id="features">
  <div class="wrapper">
    <ul>
      <li class="feature-1">
        <img src="../../../../../assets/images/flavour300.jpeg" alt="smell">
        <h4>Flavour</h4>
      </li>
      <li class="feature-2">
        <img src="../../../../../assets/images/smell300.jpeg" alt="smell">
        <h4>Smell</h4>
      </li>
      <li class="feature-3">
        <img src="../../../../../assets/images/texture300.jpeg" alt="smell">
        <h4 class="text"> Texture</h4>
      </li>
      <div class="clear"></div>
    </ul>
  </div>
</div>

<div id="primary-content">
  <div class="wrapper">
    <article>
      <h3>About us</h3>
      <p>Custom your product as Unique as You At FlavourShop.
        We believe you deserve products that are tailor-made for your unique type, needs, goals, and preferences.
        Start create your fully custom formulas, crafted with high-performance, precisely-dose ingredients to match your
        unique needs.
        Choose your flavour and fragrance. With years of data, each formula evolves with your changing needs to deliver
        instant results you will love.</p>
    </article>
  </div>
</div>

<footer>
  <div class="wrapper">
    <div id="footer-info">
      <div class="contact">NEED HELP?</div>

      <p>Our Customer Care is always available for your help. Reach us at flavourshopskillup@outlook.com or contact us
        at +40 754123456</p>

      <p>Copyright 2022 FlavourShop. All rights reserved.</p>
      <p><a href="#">Terms of Service</a> I <a href="#">Privacy</a></p>
    </div>
  </div>
</footer>
