<button mat-icon-button *ngFor="let ratingId of ratingArr;index as i" [id]="'star_'+i" (click)="onClick(i+1)"
        [matTooltip]="getTooltipValue(ratingId)" matTooltipPosition="above">
  <mat-icon [ngStyle]="{'color': 'orange'}">
    {{showIcon(i)}}
  </mat-icon>
</button>
<button mat-raised-button (click)="reviewSubmit()">Add review</button><mat-error *ngIf="starCount == null || starCount == 0">
  Star count is <strong>required</strong> and cannot be zero
</mat-error>
<p class="body-2">
  <span class="body-2">{{rating}}</span> / <span class="body-2">{{starCount}}</span>
</p>
