.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #e8f5e8;
  opacity: 0.9;
  max-width: 100%;
}

form {
  outline: 3px solid #423e37;
  padding: 4.5%;
  text-align: center;
  //background: url('../../../../../assets/images/flavourImage.jpeg') no-repeat center;
}

.row:last-child {
  margin-top: 15%;
}

.password-not-match {
  color: red;
  text-align: left;
  opacity: 1;
  font-weight: bold;
}

mat-label, mat-icon, mat-error {
  color: #423e37;
}

.button {
  background-color: #423e37;
}

.row{
  margin-bottom: 5%;
}
