<div class="container">
  <form [formGroup]="passwordForm" #formDirective="ngForm" >

    <div class="row">
      <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input [type]="'password'" matInput formControlName="password">
        <mat-icon matSuffix> lock</mat-icon>
        <mat-error *ngIf="passwordForm.controls['password'].invalid">min. 8 characters, min. 1 uppercase and 1
          lowercase letter, min 1 number
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="standard">
        <mat-label>Confirm Password</mat-label>
        <input [type]="'password'" matInput formControlName="confirmationPassword">
        <mat-icon matSuffix> lock</mat-icon>
        <mat-error *ngIf="passwordForm.controls['confirmationPassword'].invalid">min. 8 characters, min. 1 uppercase and 1
          lowercase letter, min 1 number
        </mat-error>
      </mat-form-field>
    </div>

    <div class="password-not-match"
         *ngIf="!matchPasswordValidator(passwordForm.controls.password.value!, passwordForm.controls.confirmationPassword.value!)">
      Passwords do not match
    </div>

    <div class="row">
      <button (click)="onSubmit(formDirective)" class="button" [disabled]="!passwordForm.valid || !matchPasswordValidator(passwordForm.controls.password.value!, passwordForm.controls.confirmationPassword.value!)" mat-raised-button mat-button color="primary"
              type="submit">
        Reset
      </button>
    </div>

  </form>
</div>
