/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  height: 100%;
}

.success-snackbar {
  background: darkgreen !important;
  color: white !important;
  white-space: pre-wrap !important;
}

.fail-snackbar {
  background: darkred;
  color: white;
  white-space: pre-wrap;
}
