.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #e8f5e8;
  opacity: 0.9;
  max-width: 100%;
  overflow: hidden;
  padding-top: 8%;
}

form {
  outline: 3px solid #423e37;
  padding-inline: 4.5%;
  padding-block: 2%;
  text-align: center;

}

.row:last-child {
  margin-top: 15%;
}

.password-not-match {
  color: red;
  opacity: 1;
  text-align: left;
  font-weight: bold;
}

mat-label, mat-icon, mat-error {
  color: #423e37;
}

.button {
  background-color: #423e37;
}
