.products {
  max-width: 1000px;
  margin-top: 120px;
  margin-right: auto;
  margin-left: auto;
}

.main-col{
  padding-left: 50px;
}

.col {
  padding-top: 50px;
  padding-bottom: 20px;
  height: 500px;
  background-color: #e8f5e8;
  //opacity: 0.9;
  color: #423e37;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  float: left;
  width: 35%;
}

.product-name {
  color: #78a879;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.product-price {
  color: #423e37;
  font-size: 14px;
  text-align: center;
  margin-bottom: 40px;
}

.product-description {
  color: #423e37;
  font-size: 12px;
  text-align: left;
  width: 205px;
  margin-bottom: 40px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.button, .buttonEdit {
  display: block;
  text-align: center;
  background: #423e37;
  color: white;
  border-radius: 3px;
  width: 160px;
  height: 45px;
  font-size: 20px;
  border: 0;
}

.buttonEdit:hover{
  background-color: #78a879;
}

.button:hover {
  background-color: #78a879;
}

mat-card:not([class*=mat-elevation-z]) {
  box-shadow: unset !important;
}

input {
  outline: none;
  border: none;
}

.multi-selector {
  width: max-content;
}

.select-field, .ingredients, .list {
  width: 100%;
  background-color: white;
  padding: 0.3rem;
}

.list {
  box-shadow: 0 30px 60px #6c6560;
}

.down-arrow {
  font-size: 1.2rem;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s linear;
}

.rotate150 {
  transform: rotate(150deg);
}

.ingredients {
  display: block;
  padding-left: 0;
}

.ingredients span {
  float: right;
  font-size: 0.6rem;
  padding-top: 6px;
}

.ingredients:hover {
  background-color: white;
}

.show {
  display: block;
}

.example-button-container {
  display: inline-block;
  margin-right: -540%;
}

.delete-product-button {
  margin-top: 40%;
  margin-left: 10%;
  background-color: #423e37;
}

.delete-product-button:hover {
  background-color: #78a879;
}

.buttons {
  display: inline-flex;
}

.add-product-button{
  float: left;
  margin-left: 3%;
}

.ingredient-list{
  font-size: 15px;
  margin-left: 10%;
  width: 85%;
}

.ingredient-tab{
  width: 90%;
}

.stars{
  display: inline;
  text-align: left;

}

.rate{
  text-align: left;
  width: 205px;
}

#buttonReview{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.image{
  width: 250px;
  height: 200px;
}
